body {
  padding-top: 70px;
}

.join-selection-btns {
  margin-bottom: 15px;
}

.organization-form-field {
  padding: 10px;
}

.invite-results {
  position: absolute;
  z-index: 1000;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.org-invite-suggestion {
  width: 300px;
  position: relative;
}

.group-invite-suggestion {
  position: relative;
}

.org-view-bar {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.1;
}

.org-view-bar small {
  font-size: 65%;
  font-weight: 400;
  color: #777
}

.horizontal-spacing {
  padding: 0 5px;
}

.organization-main-view {
  margin-top: 10px;
}

.timeline-loading {
  font-size: 200px;
  text-align: center;
  color: #AAA;
}

.list-group-action {
  text-align: center;
}

.group-view-bar-header {
  font-size: 16px;
}

.group-view-bar-body {
  color: #777;
  font-weight: 200;
  font-size: 12px;
}

.aperio-checkbox {

}

.suggestion-loading {
  font-size: 24px;
  position: absolute;
  right: 10px;
}
